body {
  background-color: #B2EDFF;
  color: white;
  font-family: 'Titan One', cursive;
}

.content {
  height: 100vh;
  background: -moz-linear-gradient(top, #B2EDFF 0%, #2989d8 100%); /* FF3.6-15 */
  background: linear-gradient(to bottom, #B2EDFF 0%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #fff; */
  background: -moz-linear-gradient(top, #B2EDFF 0%, #F1FFC8 100%); /* FF3.6-15 */
  background: linear-gradient(to bottom, #B2EDFF 0%,#F1FFC8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #85DF2B;
  margin-bottom: 40px;
}

.header-pic {
  margin-bottom: -20px;
}

header::after {
  content: " ";
  width: 100%;
  height: 20px;
  background-image: url('./assets/wave.png');
  animation: animatedBackground 100s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

h1 {
  font-size: 62px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: -4px 6px 8px #ccc;
}

h2 {
  color: #5CD1F6;
  margin-top: -40px;
  margin-bottom: -40px;
}

button {
  color: #FDF415;
  background-color: #85df2b;
  padding: 8px;
  border: 0;
  margin: 10px;
}
